@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker';
}

.logo {
    font-family: 'Permanent Marker';
    font-size: 42px;
    padding: 5px;
    color: rgb(0, 149, 255);
}

.logo1 {
    max-width: 70vh;
    height: 90px;
    animation: example 5s linear 2s infinite alternate;
    margin: 10px auto;
}

.logo1>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

@keyframes example {
    0% {
        background-color: black;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}

@keyframes n {
    0% {
        background-image: linear-gradient(rgba(2, 76, 249, 0.5), rgba(249, 0, 0, 0.5)), url('./images/asosiy.jpg');
    }

    25% {
        background-image: linear-gradient(rgba(255, 255, 0, 0.5), rgba(37, 249, 0, 0.5)), url('./images/asosiy2.jpg');
    }

    50% {
        background-image: linear-gradient(rgba(55, 2, 249, 0.5), rgba(249, 0, 0, 0.5)), url('./images/asosiy3.jpg');
    }

    100% {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(20, 20, 20, 0.8)), url('./images/asosiy4.jpg');
    }

}

i {
    font-size: 50px;
    /* background-color: #fff; */
    color: deepskyblue;
    height: 50px;
    border-radius: 50%;
    justify-items: center;
    align-self: center;
}

.rasm {
    order: -1;
    object-fit: cover;
    object-position: center;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    max-height: 80px;
}

img {
    max-width: 600px;
    height: 200px;
    object-fit: contain;
}

img:hover {
    transform: scale(1.2, 1.2);
}

#e {
    background-image: url('./Ederson/img/1644457362_37-abrakadabra-fun-p-oboi-na-telefon-ederson-61.jpg');
}

#b {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Bruni/img/GettyImages-1364773620-scaled.webp');
}

#c {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Cancello/img/Cancelo.jpg');
}

#d {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Dias/img/Diaz.jpg');
}

#f {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Foden/img/foden5.webp');
}

#g {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Grealish/image/grealish-vs-whu-away-1.jpg');
}

#h {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Haaland/img/Man-City-training-Erling-Haaland-shoots.jpg');
}

#l {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Laporte/img/manchester-citys-aymeric-laporte-in-action-during-the-premier-league-match-at-the-etihad-stadium-manchester-picture-date-sunday-november-21-2021-2H79B4P.jpg');
}

#r {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Rodri/img/206ace8efd234327abcf0d87028ddb6e_XL.jpg');
}

#s {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Silva/img/bernardo\ silva_0.webp');
}

#w {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./Walker/img/kylewalker-mancity.jpg');
}

body {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    cursor: default;
    position: relative;
    min-height: 100vh;

}

h1 {
    text-align: center;
    color: brown;
    line-height: 40px;
}

body p:first-of-type {
    text-align: center;
    line-height: 40px;
    padding: 10px 20px 25px;
    color: rgb(10, 10, 150);
}

p {
    text-align: center;
    line-height: 45px;
    padding: 10px;
    color: rgb(168, 17, 17);
}

h3 {
    position: fixed;
    right: 10px;
    bottom: 20px;
}

span {
    padding-right: 20px;
}

@media screen and (max-width: 992.9px) {}

@media screen and (max-width: 767.9px) {
    .logo1 {
        width: 200px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .logo {
        font-size: 20px;
        text-align: center;
    }

    .fa-futbol {
        margin: 0;
        font-size: 30px;
        justify-items: center;
    }

    .rasm {
        height: 40px;

    }
}

@media screen and (max-width: 372.9px) {
    img{
        max-width: 300px;
    }
}